<?xml version="1.0"?>
<configuration>
  
  
    
  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ModProd.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ModProd.My.MySettings.cnnModProd" connectionString="Data Source=.\sqlexpress;Initial Catalog=Modprod;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

 
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                  
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
            

        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <ModProd.My.MySettings>
            <setting name="UrlReportes" serializeAs="String">
                <value>http://p30015cg21070w9:8080/ReportServer</value>
            </setting>
            <setting name="NombreLogoMenu" serializeAs="String">
                <value>Logo.png</value>
            </setting>
            <setting name="TituloSimulador" serializeAs="String">
                <value>Calculadora Comercial</value>
            </setting>
            <setting name="Boton1Simulador" serializeAs="String">
                <value>Calcular</value>
            </setting>
            <setting name="NombreRptOrdenProduccion" serializeAs="String">
                <value>10_ImpresionOrdenTrabajo</value>
            </setting>
            <setting name="MargenesCartaCotizacion" serializeAs="String">
                <value>40,30,75,10</value>
            </setting>
            <setting name="MargenesMaterialesCotizacion" serializeAs="String">
                <value>40,30,75,10</value>
            </setting>
            <setting name="FormatoCantidad" serializeAs="String">
                <value>N2</value>
            </setting>
            <setting name="FormatoC_U" serializeAs="String">
                <value>C0</value>
            </setting>
            <setting name="FormatoCostoTotal" serializeAs="String">
                <value>C0</value>
            </setting>
            <setting name="FiltroAdjuntos" serializeAs="String">
                <value>JPEG|*.jpg;*.jpeg;*.jpe;*.jfif |PDF Archivos (*.pdf)|*.pdf|PNG|*.png</value>
            </setting>
            <setting name="IDNumeroCotizacionRapida" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EstadoxRol_Id" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BotonRptCostosMP" serializeAs="String">
                <value>Imprimir</value>
            </setting>
            <setting name="MargenesRptGeneral" serializeAs="String">
                <value>10,10,10,10</value>
            </setting>
            <setting name="grProductosColumnsMode" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MargenesRptImprieOT" serializeAs="String">
                <value>0.5,0.5,0.5,0.5</value>
            </setting>
            <setting name="ModoInicio" serializeAs="String">
                <value>Win10</value>
            </setting>
            <setting name="Notificar" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="IntervaloSplash" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="NombreRptOrdenProduccionBorrador" serializeAs="String">
                <value>10b_ImpresionOrdenTrabajo</value>
            </setting>
            <setting name="ColCalcular" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormatoFecha" serializeAs="String">
                <value>yyyyMMdd</value>
            </setting>
            <setting name="ModoDebug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stAmbiente" serializeAs="String">
                <value>PRUEBAS</value>
            </setting>
            <setting name="OnyxTempFolder" serializeAs="String">
                <value>c:\Modprod\tmpAnexos</value>
            </setting>
            <setting name="TmpMaxWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="TmpMaxHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="OptDefaultGastosMontaje" serializeAs="String">
                <value>Transporte</value>
            </setting>
        </ModProd.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
